@import "tailwindcss";

:root {
  --main-font:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  margin: 0;
  background-color: #f9fafb;
  color: #111827;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
}