@import "tailwindcss";

/* Global Font */
:root {
  --font-sans:
    "Segoe UI Variable", "Segoe UI", system-ui, -apple-system,
    BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: var(--font-sans);
}
